:root{
    --bg-gradient: linear-gradient(45deg, #08001f, #30197d);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: var(--bg-gradient);
    position: relative;
    padding-top: 100px;
    padding-inline: 50px;
    padding-bottom: 50px;
}
.searchBox{
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50px; */
    /* transform: translateX(-50%); */
    background: rgba(126, 153, 243, 0.2);
    width: 500px;
    height: 50px;
    display: flex;
    margin-inline: auto;
    margin-bottom: 50px;
}

.searchBox .searchInput{
    background: transparent;
    border: 0;
    outline: 0;
    width: 100%;
    color: #fff;
    padding: 0 20px;
}
.searchBox .searchBtn{
    border: 0;
    outline: 0;
    padding: 10px 20px;
    cursor: pointer;
}
.searchResult{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.searchResult img{
    width: 100%;
    height: 250px;
    box-shadow: 0 0 10px rgba(126, 153, 243, 0.2);
}

.nextBtn{
    display: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 50px auto;
}